.types-container {
  display: flex;
  justify-content: space-between;
}

.pokemon-card {
  display: flex;
  width: 25%;
  flex-direction: column;
  /* border: 1px solid #919191; */
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.pokemon-card:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.sprite-card {
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #f2f2f2;
}

.pokemon-name {
  font-weight: bold;
}

.pokemon-id {
  color: #919191;
}

.typecard-card {
  /* background-color: aqua;
  color: antiquewhite; */
  text-align: center;
  border-radius: 0.5em;
  display: flex;
  margin: 1em;
  padding: 0.2em 1.2em 0.2em 1.2em;
  font-size: 12px;
  float: left;
  font-family: arial;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokemon-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-left: 1rem;
}
